<!-- shows all saved locations,  
Search new location. 
Show national average cost per solar watt, wind watt.  -->


<!-- Show all saved & prior locations -->




<!-- Search new location -->



 <%= form_tag locations_path, :method => :get, :class => 'form-search' do %>
 <div class="input-append">
    <%= select_tag("statestate", options_for_select(@states)  ) %>

  
    <%= submit_tag "submit" %>
 </div>
<% end %>




<!-- Enter Solar , Wind  - Unit Price & Watts, Model Name -->
<!-- **** Need table to store devices!  -->




<!-- Show national average cost per solar watt, wind watt. -->
