<!-- essentially show page for location query from index. 
Button to Save to Locations -->

<!-- User saving locations- would need join table! -->

Chosen Location: <%=@city%>, <%=@state%> 

<br>
<%if user.location.count{|x| x.solar != nil} > 0%>
    <ul>
    <%user.location.each do |loc|%>
        <li><%=(link_to loc.solar.one_line_repr, solars_show_url(loc.solar.id)) unless loc.solar == nil%></li>
    <%end%>
    </ul>
<%else%>
    <%=link_to "Create solar power resources", solars_new_path%>
<%end%>

<!-- 
Display Ideas: 

Solar ones to display: 
@ac_annual  #Power
@solrad_annual  #For fun

Windiest 10 Cities
Sunniest 10 Cities -->
