<<<<<<< HEAD

<form action="/search" method="get" >
    <select name="city">
        <% @wind_city_options.map do |c| %>
            if c.state == @search
            <option value= "<%=c.id%>" >
=======
<form action="/search" method="get" >
    <input type="hidden" name="authenticity_token" value="token_value">
    <select name="city">
        <% @wind_city_options.map do |c| %>
      
            <%if c.state == @search %>
                <option value= "<%=c.id%>" >
>>>>>>> tori_index_pg
                <%=c.city%>
            </option>
            <% end %>
        <% end %>
    </select>
    <input type="submit" value="Compare Wind and Solar">
</form>