

<form action="/results" method="get" >
    <input type="hidden" name="authenticity_token" value="token_value">
    <select name="city">
        <% @wind_city_options.map do |c| %>
      
            <%if c.state == @state %>
                <option value= "<%=c.city%>" >
                <%=c.city%>
            </option>
            <% end %>
        <% end %>
    </select>
    <input type="submit" value="Compare Wind and Solar">
</form>